.root {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}
title {
  font-size: 14px;
}
.pos {
  margin-bottom: 24px !important;
}
